.Toastify__toast-container {
    width: 50%;
}
.deleteView :is(h3){
    text-align: center;
}
.deleteView :is(.success , .danger){
    display: block;
    width: 50%;
    margin: 5px auto;
    padding: 10px;
    outline: none;
    border: 0px solid;
    border-radius: 40px;
}

.success{
    background-color: limegreen;
    color: white;
}
.success:hover{
    background-color: transparent;
    color: limegreen;
    border: 1px solid limegreen;
}
.danger{
    background-color: red;
    color: white;
}
.danger:hover{
    background-color: transparent;
    color: red;
    border: 1px solid red;
}